<!DOCTYPE html
        PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">

{% load static %}
{% load render_table from django_tables2 %}
{% load bootstrap4 %}
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    <title>数据字典</title>

    <!-- 最新版本的 Bootstrap 核心 CSS 文件 -->
    <link rel="stylesheet" href="{% static '/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'js/jquery-ui-1.12.1/jquery-ui.css' %}">

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="{% static 'js/bootstrap-datepicker/css/bootstrap-datetimepicker.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/common.css' %}">
    <style>
        .dataDictUpdate-header .back {
            align-items: center;
            align-content: center;
            display: flex;

            font-weight: bold;
            font-size: 12px;

        }

        .dataDictUpdate-header .back a {
            text-decoration: none;
            margin-top: 10px;
        }

        .dataDictUpdate-header .title {
            margin-top: 10px;
            font-size: 15px;
            font-weight: bold;
            background-color: #FFFAF0;
            align-items: center;
            display: flex;

        }

        .dataDictUpdate-body .form-body {
            padding-top: 15px;
            background-color: #FFFAFA;
        }


    </style>

</head>
<body>
<div class="form-inline">
    <div class="dataDictUpdate-header">
        <div>
            <div class="row back">
                <div class=" col-lg-3 col-md-3 col-xs-3">
                    <a href="{% url 'dataDictionaryApp:index' %}">
                        <svg t="1712829525596" class="icon" viewBox="0 0 1024 1024" version="1.1"
                             xmlns="http://www.w3.org/2000/svg" p-id="6268" width="32" height="32">
                            <path d="M486.4 305.664V128L0 473.6 486.4 819.2v-177.7152c12.0832-0.4608 24.2176-0.6144 36.4544-0.3584A640.8192 640.8192 0 0 1 1024 896c-16.9984-298.3936-243.0464-543.4368-537.6-590.336z"
                                  fill="#00C080" p-id="6269"></path>
                        </svg>
                    </a>
                </div>
            </div>
            <div class="row title">
                <div class="col-lg-3 col-md-3 col-xs-3">
                    <span class="dataDictUpdate-title">{{ title }}-{{ pk }}</span>
                </div>
                <hr/>
            </div>
        </div>
    </div>
    <div class="dataDictUpdate-body">
        <div>
            <div class="form-wrapper row">
                {% if pk %}
                    <form action="{% url 'dataDictionaryApp:CodetypeUpdate' pk %}" method="post" novalidate>
                {% else %}
                    <form action="{% url 'dataDictionaryApp:addCodetype' %}" method="post" novalidate>
                {% endif %}
                {% csrf_token %}
                <div class="form-wrapper row form-body">
                    {% for field in dataDictUpdate_form %}
                        <div class="form-wrapper col-lg-2 col-sm-2 col-md-2">
                            {{ field.label_tag }} {{ field }}
                            {% if field.help_text %}
                                <p class="help">{{ field.help_text|safe }}</p>
                            {% endif %}
                            <p class="text-danger">{{ field.errors.as_text }}</p>
                        </div>
                    {% endfor %}
                    {#                        此处错误信息会返回clean联合校验，也就是非单个字段校验的错误信息#}
                    {% if form.subject.errors %}
                        <ol>
                            {% for error in form.subject.errors %}
                                <li><strong>{{ error|escape }}</strong></li>
                            {% endfor %}
                        </ol>
                    {% endif %}
                </div>
                <hr/>
                <div class="form-wrapper row">
                    <div class="button-wrapper submit col-lg-offset-5 col-sm-offset-5 col-md-offset-5 col-lg-3 col-sm-3 col-md-3">
                        <input type="submit" value="提交" class="btn btn-primary btn-xs pull-left"
                               style="margin-left: 5px; "/>
                        <input type="reset" value="重置" class="btn btn-primary btn-xs pull-left"
                               style="margin-left: 5px; "/>
                        <a class="button btn btn-primary btn-xs pull-left"
                           style="margin-left: 5px"
                           href="{% url 'dataDictionaryApp:index' %}">取消</a>
                    </div>
                </div>
                </form>
            </div>
        </div>
    </div>
    <div class="dataDictUpdate-footer">
    </div>
</div>
</body>
<!-- JS 部分 -->
<!-- jQuery 3 -->
<script src="{% static 'js/jquery-2.1.1.min.js' %}"></script>
<script src="{% static 'js/jquery-ui-1.12.1/jquery-ui.min.js' %}"></script>

<!-- Bootstrap 3.3.7 -->
<!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
<script src="{% static 'js/bootstrap.min.js' %}"></script>

<!-- Latest compiled and minified Locales -->
<script src="{% static 'js/bootstrap-datepicker/js/bootstrap-datetimepicker.js' %}"></script>
<script src="{% static 'js/bootstrap-datepicker/js/locales/bootstrap-datetimepicker.zh-CN.js' %}"></script>
<script src="{% static 'js/app/dataDictionary.js' %}"></script>


</html>