{% extends 'base.html' %}
{% block title %}
    注册
{% endblock %}

{% block content %}
    <div>
        <div class="container" style="margin-top: 200px">
            <div class="row">
                <div class="col-lg-offset-4 col-mid-offset-4 col-xl-offset-4 col-lg-4 col-mid-4 col-xl-4">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title">注册</h3>
                        </div>
                        <div class="panel-body">
                            <form action="" method="post" novalidate>
                                {% csrf_token %}
                                {% for field in register_form %}
                                    {{ field.label_tag }}
                                    {{ field }}
                                    <p class="text-danger">{{ field.errors.as_text }}</p>
                                {% endfor %}
                                <span class="text-danger pull-left">{{ register_form.non_field_errors }}</span>
                                <br />
                                <input type="submit" value="注册" class="btn btn-primary pull-left">
                                <a href="{% url 'loginApp:login' %}">
                                    <input type="button" value="取消" class="btn btn-primary pull-right">
                                </a>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
