<!DOCTYPE html
        PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">

{% load static %}
{% load render_table from django_tables2 %}
{% load bootstrap4 %}
{#消息提示内嵌 #}
{% load messages_tags %}
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    <title>{{ title }}</title>

    <!-- 最新版本的 Bootstrap 核心 CSS 文件 -->
    <link rel="stylesheet" href="{% static '/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'js/jquery-ui-1.12.1/jquery-ui.css' %}">

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="{% static 'js/bootstrap-datepicker/css/bootstrap-datetimepicker.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/common.css' %}">
    <style>
        .header .back {
            align-items: center;
            align-content: center;
            display: flex;

            font-weight: bold;
            font-size: 12px;

        }

        .header .back a {
            text-decoration: none;
            margin-top: 10px;
        }

        .header .title {
            margin-top: 10px;
            font-size: 15px;
            font-weight: bold;
            background-color: #FFFAF0;
            align-items: center;
            display: flex;

        }

        .body .form-body {
            padding-top: 15px;
            background-color: #FFFAFA;
        }


    </style>

</head>
<body>
<div class="form-inline">
    <div class="header">
        <div>
            <div class="row back">
                <div class=" col-lg-3 col-md-3 col-xs-3">
                    <a href="{% url FormCancel %}">
                        <svg t="1712829525596" class="icon" viewBox="0 0 1024 1024" version="1.1"
                             xmlns="http://www.w3.org/2000/svg" p-id="6268" width="32" height="32">
                            <path d="M486.4 305.664V128L0 473.6 486.4 819.2v-177.7152c12.0832-0.4608 24.2176-0.6144 36.4544-0.3584A640.8192 640.8192 0 0 1 1024 896c-16.9984-298.3936-243.0464-543.4368-537.6-590.336z"
                                  fill="#00C080" p-id="6269"></path>
                        </svg>
                        返回
                    </a>
                </div>
            </div>
            <div class="row title">
                <div class="col-lg-12 col-md-12 col-xs-12">
                    <span class="title">{{ title }} : &nbsp;&nbsp;&nbsp;&nbsp;{{ pk }}</span>
                </div>
                <hr/>
            </div>
        </div>
    </div>
    <div class="body">
        <div>
            <div class="form-wrapper row">
                <div class="form-wrapper{% if offset %}col-lg-offset-{{ offset }}  col-sm-offset-{{ offset }}  col-md-offset-{{ offset }}{% endif %}
                                 col-lg-{{ col }} col-sm-{{ col }} col-md-{{ col }}" style="color: red;">
                    {#                        此处错误信息会返回clean联合校验，也就是非单个字段校验的错误信息#}
                    {% if Form.errors %}
                        <p><strong>Notice: </strong></p>
                        {% for field, errors in Form.errors.items %}
                            <div class="field-error">
                                {{ field }}:
                                {% for error in errors %}
                                    {{ error }}
                                {% endfor %}
                            </div>
                        {% endfor %}
                    {% endif %}
                </div>
            </div>
            <hr/>
            <div class="form-wrapper row">
                {% if pk %}
                    {% if formUpdateUrl %}
                        <form action="{% url formUpdateUrl pk %}" method="post" novalidate>
                    {% else %}
                        <form action="" method="post" novalidate>
                    {% endif %}
                {% else %}
                    {% if formAddUrl %}
                        <form action="{% url formAddUrl %}" method="post" novalidate>
                    {% else %}
                        <form action="" method="post" novalidate>
                    {% endif %}
                {% endif %}
                {% csrf_token %}
                <div class="form-wrapper row form-body">
                    {% for field in Form %}
                        {% if col %}
                            <div class="form-wrapper
                             {% if offset %}
                                col-lg-offset-{{ offset }}  col-sm-offset-{{ offset }}  col-md-offset-{{ offset }}
                             {% endif %}
                             col-lg-{{ col }} col-sm-{{ col }} col-md-{{ col }}">
                        {% else %}
                            <div class="form-wrapper col-lg-2 col-sm-2 col-md-2">
                        {% endif %}
                                {{ field.label_tag }} {{ field }}
                                {% if field.help_text %}
                                    <p class="help">{{ field.help_text|safe }}</p>
                                {% endif %}
                                <p class="text-danger">{{ field.errors.as_text }}</p>
                            </div>
                    {% endfor %}
                    </div>
                    <hr/>
                    <div class="form-wrapper row">
                        <div class="button-wrapper submit col-lg-offset-5 col-sm-offset-5 col-md-offset-5 col-lg-3 col-sm-3 col-md-3">
                            {% if not type %}
                                <input type="submit" value="提交" class="btn btn-primary btn-xs pull-left"
                                       style="margin-left: 5px; "/>
                                <input type="reset" value="重置" class="btn btn-primary btn-xs pull-left"
                                       style="margin-left: 5px; "/>
                            {% endif %}
                            <a class="button btn btn-primary btn-xs pull-left"
                               style="margin-left: 5px"
                               href="{% url FormCancel %}">取消</a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="footer">
        {% render_messages messages %}
    </div>
</div>
</body>
<!-- JS 部分 -->
<!-- jQuery 3 -->
<script src="{% static 'js/jquery-2.1.1.min.js' %}"></script>
<script src="{% static 'js/jquery-ui-1.12.1/jquery-ui.min.js' %}"></script>

<!-- Bootstrap 3.3.7 -->
<!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
<script src="{% static 'js/bootstrap.min.js' %}"></script>

<!-- Latest compiled and minified Locales -->
<script src="{% static 'js/bootstrap-datepicker/js/bootstrap-datetimepicker.js' %}"></script>
<script src="{% static 'js/bootstrap-datepicker/js/locales/bootstrap-datetimepicker.zh-CN.js' %}"></script>
<script src="{% static 'js/app/common.js' %}"></script>


</html>